# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

 1. Seaborn
 2. Panda
 3. Numpy

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Github   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression that multiplies then adds integers
(3*4) + 5

17

In [4]:
# This converts 200 minutes into hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Identify commonly used data science tools
- Convert basic expressions using Python
- Create tables and lists using Markdown

## Author

Mark Nguyen - Do Hoang Anh Nguyen